.sbs-container {
    display: flex;
    width: 90%;
    height: 100%;
    padding: 20px 20px;
    margin: 0 auto;
    gap: 50px;
    line-height: 40px;
}

.sbs-image-container {
display: flex;
align-items: center;
justify-content: center;
flex-basis: 0;
flex-grow: 1;
}
.sbs-image-container img {
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
}

.sbs-text-container {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sbs-text-container p {
    margin-top: 10px;
    font-size: 15px;
    max-height: 70%;
    max-width: 90%;
    flex-wrap: nowrap;
}