.nav-bar img {
    height: 50px;
    
}

.nav-bar {
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}

.nav-bar li  {
    list-style: none;
    display: inline-block;
    position: relative;
    color: #0c99e0;
    font-weight:  600;
    font-size: 14px;
}


.nav-bar li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: var(--main-color-red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.nav-bar li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.nav-bar li a {
    text-decoration: none;
    
}
.nav-bar li a:link {
    color: rgb(255, 255, 255);
}

.nav-bar li a:visited {
    color: rgb(255, 255, 255);
}

.nav-bar li a:active {
    color: rgb(255, 255, 255)
}